name: Promote to Prod

permissions:
  contents: write # For creating releases
  id-token: write # For OIDC authentication

on:
  workflow_dispatch:
    inputs:
      build-number:
        type: number
        description: Build number used to build artifact to be promoted

jobs:
  promote-from-stage-to-prod:
    name: Promote from stage to prod
    uses: ./.github/workflows/promote.yml
    with:
      build-number: ${{ inputs.build-number }}
      target-repository: database-maven-dev-local
      target-branch: main
      source-branch: stage
    secrets: inherit
